.relative {
  position: relative;
}

.red-x-37 {
  position: absolute;
  top: -0.31em;
  left: 25%;
  font-size: 23em !important;
  font-weight: bold !important;
  color: #d00;
}

/* Remove border on transparent images */
.no-box-shadow {
  box-shadow: none !important;
}
