/* line 6, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/toolkit-1.0.0/stylesheets/toolkit/_border-box.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php'); }

/* line 4, ../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/toolkit-1.0.0/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto; }

/* line 7, ../scss/grid.scss */
* {
  -webkit-transition: all .5s linear;
  transition: all .5s linear; }

/* line 13, ../scss/grid.scss */
html,
body {
  height: auto; }

/* line 17, ../scss/grid.scss */
body {
  max-width: 90%;
  margin: 1em auto; }

/* line 21, ../scss/grid.scss */
.row {
  max-width: 100%; }

/* line 25, ../scss/grid.scss */
.row.display {
  font-size: 1em;
  margin-bottom: 10px;
  padding: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
  /* line 31, ../scss/grid.scss */
  .row.display .columns {
    background: #e7e7e7;
    border: 2px solid #c9c9c9;
    font-weight: bold;
    text-indent: 3px;
    padding: 10px 5px;
    color: #444; }
  /* line 40, ../scss/grid.scss */
  .row.display .row.display {
    margin-left: auto;
    margin-right: auto; }

/* line 46, ../scss/grid.scss */
h4 {
  margin-top: 2em; }

/* line 51, ../scss/grid.scss */
.blue.display.row .columns {
  color: white;
  background-color: #006699;
  border-color: black; }
  /* line 6, ../scss/_mixins.scss */
  .blue.display.row .columns:nth-child(2) {
    background-color: #0088cc;
    border-left: none; }
  /* line 11, ../scss/_mixins.scss */
  .blue.display.row .columns:nth-child(3) {
    background-color: #00aaff;
    border-left: none; }

/* line 55, ../scss/grid.scss */
.green.display.row {
  box-shadow: none; }
  /* line 58, ../scss/grid.scss */
  .green.display.row > .large-4.columns {
    min-height: 5.6em; }
  /* line 62, ../scss/grid.scss */
  .green.display.row .columns {
    color: white;
    background-color: #378137;
    border-color: black; }
    /* line 6, ../scss/_mixins.scss */
    .green.display.row .columns:nth-child(2) {
      background-color: #46a546;
      border-left: none; }
    /* line 11, ../scss/_mixins.scss */
    .green.display.row .columns:nth-child(3) {
      background-color: #62bc62;
      border-left: none; }

/* line 67, ../scss/grid.scss */
.yellow.display.row .columns {
  color: white;
  background-color: #d9a400;
  border-color: #0d0a00;
  color: black; }
  /* line 6, ../scss/_mixins.scss */
  .yellow.display.row .columns:nth-child(2) {
    background-color: #ffc40d;
    border-left: none; }
  /* line 11, ../scss/_mixins.scss */
  .yellow.display.row .columns:nth-child(3) {
    background-color: #ffd040;
    border-left: none; }

/* line 72, ../scss/grid.scss */
.red.display.row .columns {
  color: white;
  background-color: #721c15;
  border-color: black; }
  /* line 6, ../scss/_mixins.scss */
  .red.display.row .columns:nth-child(2) {
    background-color: #9d261d;
    border-left: none; }
  /* line 11, ../scss/_mixins.scss */
  .red.display.row .columns:nth-child(3) {
    background-color: #c83025;
    border-left: none; }

@media only screen and (max-width: 767px) {
  /* line 83, ../scss/grid.scss */
  .red.display.row .columns:first-child, .red.display.row .columns:nth-child(2) {
    border-bottom: none; }
  /* line 88, ../scss/grid.scss */
  .red.display.row .columns:nth-child(2), .red.display.row .columns:nth-child(3) {
    border-left: 2px solid black; }

  /* line 94, ../scss/grid.scss */
  .green.display.row .yellow.display.row .columns:first-child {
    border-right: none;
    border-bottom: none; }
  /* line 99, ../scss/grid.scss */
  .green.display.row .yellow.display.row .columns:nth-child(2) {
    border-top: 2px solid black;
    border-bottom: none; }
  /* line 104, ../scss/grid.scss */
  .green.display.row .yellow.display.row .columns:nth-child(3) {
    border-left: 2px solid black; }

  /* line 110, ../scss/grid.scss */
  .green.display.row > .large-4.columns {
    min-height: auto; }
  /* line 115, ../scss/grid.scss */
  .green.display.row .columns:nth-child(2) {
    border-top: none;
    border-left: 2px solid black; } }
