* {
  -webkit-transition: all .5s linear;
  transition: all .5s linear; }

html,
body {
  height: auto; }

body {
  max-width: 90%;
  margin: 1em auto; }

.row {
  max-width: 100%; }

.row.display {
  font-size: 1em;
  margin-bottom: 10px;
  padding: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
  .row.display .columns {
    background: #e7e7e7;
    border: 2px solid #c9c9c9;
    font-weight: bold;
    text-indent: 3px;
    padding: 10px 5px;
    color: #444; }
  .row.display .row.display {
    margin-left: auto;
    margin-right: auto; }

h4 {
  margin-top: 2em; }

.blue.display.row .columns {
  color: white;
  background-color: #006699;
  border-color: black; }
  .blue.display.row .columns:nth-child(2) {
    background-color: #0088cc;
    border-left: none; }
  .blue.display.row .columns:nth-child(3) {
    background-color: #00aaff;
    border-left: none; }
.blue.display.row .large-4 {
  min-height: 10.5em; }

.green.display.row {
  box-shadow: none; }
  .green.display.row .columns {
    color: white;
    background-color: #378137;
    border-color: black;
    min-height: 7.625em; }
    .green.display.row .columns:nth-child(2) {
      background-color: #46a546;
      border-left: none; }
    .green.display.row .columns:nth-child(3) {
      background-color: #62bc62;
      border-left: none; }

span.show-for-small {
  display: none !important; }

.yellow.display.row .columns {
  color: white;
  background-color: #d9a400;
  border-color: #0d0a00;
  color: black; }
  .yellow.display.row .columns:nth-child(2) {
    background-color: #ffc40d;
    border-left: none; }
  .yellow.display.row .columns:nth-child(3) {
    background-color: #ffd040;
    border-left: none; }

.red.display.row .columns {
  color: white;
  background-color: #721c15;
  border-color: black; }
  .red.display.row .columns:nth-child(2) {
    background-color: #9d261d;
    border-left: none; }
  .red.display.row .columns:nth-child(3) {
    background-color: #c83025;
    border-left: none; }
.red.display.row .large-3,
.red.display.row .large-6 {
  min-height: 8.5em; }

@media only screen and (max-width: 767px) {
  span.show-for-small {
    display: inline-block !important; }

  .blue.display.row .large-4 {
    min-height: 14.5em; }

  .red.display.row .columns:first-child, .red.display.row .columns:nth-child(2) {
    border-bottom: none; }
  .red.display.row .columns:nth-child(2), .red.display.row .columns:nth-child(3) {
    border-left: 2px solid black; }
  .red.display.row .large-3,
  .red.display.row .large-6 {
    min-height: auto; }

  .green.display.row > .large-4.columns {
    min-height: auto; }
  .green.display.row .columns:nth-child(2) {
    border-top: none;
    border-left: 2px solid black; }

  .green .yellow.display.row .columns {
    min-height: auto; }
    .green .yellow.display.row .columns:first-child {
      border-right: none;
      border-bottom: none; }
    .green .yellow.display.row .columns:nth-child(2) {
      border-top: 2px solid black;
      border-bottom: none; }
    .green .yellow.display.row .columns:nth-child(3) {
      border-left: 2px solid black; } }
@media screen and (min-width: 768px) {
  .green .yellow.display.row .columns {
    min-height: 5.5em; }
    .green .yellow.display.row .columns:first-child {
      border-right: 2px solid black; }
    .green .yellow.display.row .columns:nth-child(2) {
      border-top: 2px solid black;
      border-right: 2px solid black; }
    .green .yellow.display.row .columns:nth-child(3) {
      border-left: none; } }
