@charset "UTF-8";
// @import "compass";
// @import "toolkit";
@import "_variables.scss";
@import "_mixins.scss";

* {
    -webkit-transition: all .5s linear;
            transition: all .5s linear;
}

html,
body {
    height: auto;
}

body {
    max-width:90%;margin:1em auto;
}

.row {
    max-width:100%;
}

.row.display {
    font-size: 1em;
    margin-bottom: 10px;
    padding: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

    .columns {
        background: #e7e7e7;
        border: 2px solid #c9c9c9;
        font-weight: bold;
        text-indent: 3px;
        padding: 10px 5px;
        color: #444;
    }

    .row.display {
        margin-left: auto;
        margin-right: auto;
    }
}

h4 {
    margin-top: 2em;
}


.blue.display.row {
    .columns {
        @include grid-bg-colors($linkColor);

        &:nth-child(3) {
            //border-left: $grid-border;
        }
    }

    .large-4 {
        min-height: 10.5em;
    }
}

.green.display.row {
    box-shadow: none;

    > .large-4.columns {
        // min-height: 5.6em;
    }

    .columns {
        @include grid-bg-colors($green);
        min-height: 7.625em;
    }
}

span.show-for-small {
    display: none !important;
}

.yellow.display.row .columns {
    @include grid-bg-colors($yellow);
    color: black;
}

.red.display.row {
    .columns {
        @include grid-bg-colors($red);
    }

    .large-3,
    .large-6 {
        min-height: 8.5em;
    }
}

@media only screen and (max-width: 767px) {

    span.show-for-small {
        display: inline-block !important;
    }

    .blue.display.row {
        .large-4 {
            min-height: 14.5em;
        }
    }

    .red.display.row {
        .columns {
            &:first-child,
            &:nth-child(2) {
                border-bottom: none;
            }

            &:nth-child(2),
            &:nth-child(3) {
                border-left: $grid-border;
            }
        }

        .large-3,
        .large-6 {
            min-height: auto;
        }
    }

    .green.display.row {
        > .large-4.columns {
            min-height: auto;
        }

        .columns {
            &:nth-child(2) {
                border-top: none;
                border-left: $grid-border;
            }
        }
    }

    .green .yellow.display.row .columns {
        min-height: auto;

        &:first-child {
            border-right: none;
            border-bottom: none;
        }

        &:nth-child(2) {
            border-top: $grid-border;
            border-bottom: none;
        }

        &:nth-child(3) {
            border-left: $grid-border;
        }
    }
}

@media screen and (min-width: 768px) {
    .green .yellow.display.row .columns {
        min-height: 5.5em;

        &:first-child {
            border-right: $grid-border;
            // border-bottom: none;
        }

        &:nth-child(2) {
            border-top: $grid-border;
            border-right: $grid-border;
        }

        &:nth-child(3) {
            border-left: none;
        }
    }
}
