@charset "UTF-8";
@import "compass";
@import "toolkit";
@import "_variables.scss";
@import "_mixins.scss";


section, .content {
    -webkit-transition: all .5s linear;
            transition: all .5s linear;
}

.row.display {font-size: 1em; margin-bottom: 10px; padding:0; }

.row.display .columns, .row.display .column { background: #e7e7e7; border: 2px solid #c9c9c9; font-weight: bold; text-indent: 3px; padding: 10px 5px; color: #444; }

iframe {border:0; box-shadow:0 0 5px rgba(0, 0, 0, 0.15);}

body.off-canvas {
    background: white;
}

.site-bar {
    @include buttonBackground($buttonSecondaryBackground, $buttonSecondaryBackgroundHighlight);

    a.site-logo {
        margin-left: 0.75em;
    }

    .mobile-functions li {
        @include buttonBackground($buttonSecondaryBackground, $buttonSecondaryBackgroundHighlight);
        border-left: 1px solid rgba(255, 255, 255, 0.4);
    }
}

.off-canvas .global-nav ul ul {
    background: $buttonSecondaryBackgroundHighlight !important;
}

.off-canvas .global-nav .menu-controls .menu-back {
    @include buttonBackground(darken($buttonSecondaryBackground, 5%), darken($buttonSecondaryBackgroundHighlight, 5%));
}

.off-canvas .global-nav .sub-menu-title {
    color: #fff;
}

.active-site-menu .site-bar .mobile-functions .mobile-icons.active {
    background-color: $buttonSecondaryBackgroundHighlight;
}

.global-nav {
    background: $buttonSecondaryBackgroundHighlight;

    .nav-container {
        border-bottom: 1px solid darken($buttonSecondaryBackground, 10%);
    }

    ul li {
        border-bottom: 1px solid darken($buttonSecondaryBackground, 10%);
    }

    ul li a {
        background: $buttonSecondaryBackgroundHighlight;
    }
}

.page {
    background: white;
}

@media only screen and (min-width: 48em) {
    .site-bar {
        background-color: white;
        background-image: none;
        color: #222;
    }

    .site-bar:hover, .site-bar:focus, .site-bar:active, .site-bar.active, .site-bar.disabled, .site-bar[disabled] {
        background-color: white;
    }

    .site-bar a.site-logo {
        color: #333;
        margin-left: 0.3em;
    }

    .global-nav .nav-container {
        background: $buttonSecondaryBackgroundHighlight;
    }

    .global-nav .nav-container ul li a:hover {
        background: $buttonSecondaryBackground !important;
    }

    .global-nav .nav-container ul li a.active {
        background-color: $buttonSecondaryBackground !important;
    }

    .global-nav ul li {
        border-right: 1px solid darken($buttonSecondaryBackground, 10%);
        border-left: 1px solid lighten($buttonSecondaryBackgroundHighlight, 10%);

        &:last-child {
            border-right: none !important;
        }
    }

    .global-nav .nav-container ul ul li a:hover {
        background-color: darken($buttonSecondaryBackgroundHighlight, 10%) !important;
    }

    .off-canvas .global-nav .active-menu li a {
        background: $buttonSecondaryBackground !important;
    }

    .off-canvas .global-nav ul ul {
        background: $buttonSecondaryBackground !important;
        top: 52px !important;
    }

    .off-canvas .global-nav ul ul li {
        border-right: 1px solid $buttonSecondaryBackgroundHighlight !important;
        border-left: 1px solid $buttonSecondaryBackground !important;

        &:last-child {
            border-right: none !important;
        }
    }

    .global-nav .nav-container ul li a.active:after {
        border-bottom: 9px solid $buttonSecondaryBackground !important;
        top: 43px;
    }
}
