@media print {
    html, body {
        overflow: auto !important;
        background-color: white;
        background: none;
    }

    html {
        height: 100% !important;
        min-height: 7000em;
    }

    .reveal .slides > section {
        border-bottom: 1px solid black !important;
        margin-bottom: 2em !important;
        -webkit-transform: none !important;
                transform: none !important;
        opacity: 1 !important;
        position: relative !important;

        page-break-inside: avoid;
        page-break-after: always;

        &:last-child {
            border-bottom: none !important;
        }
    }

    .reveal .slides > section[data-transition=default].past,
    .reveal .slides > section.past,
    .reveal .slides > section,
    .reveal .slides > section > section {
        display: block !important;
        -webkit-transform: none !important;
                transform: none !important;
        opacity: 1 !important;
        position: relative !important;
    }

    // Container for all slides
    .slides {
        width: auto !important;
        height: auto !important;
        zoom: 1 !important;
    }


    // Speaker notes
    .reveal aside.notes {
        display: block;
        position: relative;
        left: -40%;
        width: 170%;
        border: 1px dotted #444;
        padding: 0.5em;
        font-size: 0.8em;
    }
}
